<footer id="footer" class="dark-wrapper">
  <section class="ss-style-top"></section>
<div class="container inner">
<div class="row">
<div class="col-sm-4">
<h4>  GET DIRECTIONS<br></h4>
<h4><i class="fa fa-clock-o" aria-hidden="true"></i>HOURS</h4>
<p>10AM-10PM</p>
<h4><i class="fa fa-location-arrow" aria-hidden="true"></i> LOCATION</h4>
<p>La Salsa Fresh Mexican Grill – Corporate Office 320 Commerce, ste 100 Irvine, California 92602</p>
<h4><i class="fa fa-phone" aria-hidden="true"></i> PHONE</h4>
<p> (949) 270-8900</p>
</div>
<div class="col-sm-4 col-sm-pull-1">
<div class="social-bar">
<a href="#" class="fa fa-instagram tooltipped i" title=""></a>
<a href="#" class="fa fa-youtube-square tooltipped y" title=""></a>
<a href="#" class="fa fa-facebook-square tooltipped f" title=""></a>
<a href="#" class="fa fa-twitter-square tooltipped t" title=""></a>
<a href="#" class="fa fa-google-plus-square tooltipped g" title=""></a>
</div>
</div>
<div class="col-sm-4">
<h4>CUSTOMER CARE</h4>
<p>Email: customercare@lasalsa.com
<br> Toll-Free Number: 1-866-4-LaSalsa (452-7257)
<br> Speak Out! We want to hear from you</p>
<h4>CATERING INFORMATION</h4>
<p>Toll-Free Number: 1-877-WECATER (932-2837)</p>
</div>
</div>
</div>
</footer>
