<div class="container">
<div class="content page-content" id="menu-page" data-url-id="menu">
<div class="content-inner has-content" id="yui_3_17_2_1_1473521789022_245">
<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1469904283043" id="page-55ef81b1e4b02beb8d4f1a38">
<div class="row sqs-row" id="yui_3_17_2_1_1473521789022_244">
<div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1473521789022_243">
<div class="row sqs-row" id="yui_3_17_2_1_1473521789022_242">
<div class="sqs-block menu-block sqs-block-menu" data-block-type="18" id="block-yui_3_10_1_1_1398370805769_119039">
<div class="menu-wrapper menu-style-classic" id="yui_3_17_2_1_1473521789022_2062">
<div class="menu menu-breakfast-lunch-yui_3_10_1_1_1398370805769_119039-d6532d69-61ef-4f15-83b5-8d5bba651f98 ">
<div class="menu-section">
<div class="menu-section-header">
<div class="menu-section-title" style="margin-top:-10%;">Taco Baskets</div>
<div class="menu-item-description" align="center">served with chips and our fresh salsa bar. add rice and black or pinto beans for $1.55.</div>
</div>
    <div class="menu-items">
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.45</span>
    <div class="menu-item-title">Tacos La Salsa</div>
    <div class="menu-item-description">two soft corn tortilla tacos filled with grilled chicken or steak, jack and cheddar cheeses, lettuce and tomatoes.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>10</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.45</span>
    <div class="menu-item-title">Chicken Taquitos</div>
    <div class="menu-item-description">three jumbo crispy taquitos stuffed with chicken and black beans, served with guacamole and sour cream.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>11</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>12</span>
    <div class="menu-item-title">Baja Style Shrimp</div>
    <div class="menu-item-description">two soft corn tortilla filled with grilled shrimp and crisp cabbage. topped with la salsa baja sauce, avocado and jack and cheddar cheeses.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>6.55
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>10</span>
    <div class="menu-item-title">Carnitas Guadalajara</div>
    <div class="menu-item-description">two soft corn tortilla tacos filled with pork camitas, fire-roasted fajita, mild, ancho chile sauce and jack and cheddar cheeses.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>5.45</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>7</span>
    <div class="menu-item-title">Baja Grilled Fish</div>
    <div class="menu-item-description">two soft corm tortilla tacos filled with grilled fish and crisp cabbage. topped with our baja sauce, avocado and jack and cheddar cheeses.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>6.55</div>
    </div>
 </div>
</div>
    <div class="menu-section">
    <div class="menu-section-header">
    <div class="menu-section-title">La Salsa Platters</div>
    <div class="menu-item-description" align="center">served with black or pinto beans, rice, chips and our fresh salsa bar.</div>
    </div>
    <div class="menu-items">
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.35</span>
    <div class="menu-item-title">Two Soft Tacos Platter</div>
    <div class="menu-item-description">your choice of two soft tacos: taco la salsa or Carnitas guadalajara.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>10</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.95</span>
    <div class="menu-item-title">Enchilada Platter</div>
    <div class="menu-item-description">a blend of jack & cheddar cheeses rolled in a pair of corn tortillas, covered with melted cheeses, roja sauce, and crema mexicana. chicken or sirloin steak add $ 1.90.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>11</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>4.55</span>
    <div class="menu-item-title">Just For Kids</div>
    <div class="menu-item-description">choice of quesadilla or bean and cheese burrito, served with rice or beans and a drink. (12 and under)</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>6.55</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.60</span>
    <div class="menu-item-title">Taquitos & Quesadilla Platter</div>
    <div class="menu-item-description">two chicken taquitos and our classic quesadilla served with fresh guacamole and sour cream. chicken or sirloin steak add $ 1.90.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>5.45</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>8.05</span>
    <div class="menu-item-title">Three Pepper Fajita Platter</div>
    <div class="menu-item-description">grilled chicken or sirloin steak, fire - roasted fresh fajita veggies, guacamole, cheese, sour cream, served with corn or flour tortillas.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8.05</div>
    </div>
    </div>
    </div>
    </div>
    <div class="menu-section">
    <div class="menu-section-header">
    <div class="menu-section-title">Burritos</div>
    <div class="menu-item-description" style="text-align:center">served with chips and our fresh salsa bar. make it ranchero style topped with roja sauce, melted cheese, and crema mexicana for only $1.70 more.</div>
    </div>
    <div class="menu-items">
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.95</span>
    <div class="menu-item-title">Overstuffed Grilled Burrito</div>
    <div class="menu-item-description">a double-portion of chicken, steak, or camitas, habanero jack cheese, salsa and guacamole, wrapped in a tortilla and grilled.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.10</span>
    <div class="menu-item-title">Grande Burrito</div>
    <div class="menu-item-description">chicken or sirloin steak, rice, beans, jack and cheddar cheeses, salsa, guacamole. lettuce and sour cream in a flour tortilla.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.05</span>
    <div class="menu-item-title">California Burrito</div>
    <div class="menu-item-description">beans, avocado, jack and cheddar cheeses, rice, lettuce and fresh salsa wrapped in a flour tortilla.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.15</span>
    <div class="menu-item-title">Three Pepper Fajita Burrito</div>
    <div class="menu-item-description">chicken or sirloin steak, fresh fire-roasted red and green bell peppers, poblano peppers, onions and garlic, with rice, cheeses, avocado and salsa.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12</div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.95</span>
    <div class="menu-item-title">Baja Grilled Fish Burrito</div>
    <div class="menu-item-description">grilled fish, jack & cheddar cheeses with creamy baja sauce, cabbage & avocado wrapped in a flour tortilla.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.95
    </span>
    <div class="menu-item-title">
    The No Rice No Beans Burrito
    </div>
    <div class="menu-item-description">medium spicy, chicken or sirloin steak, fajita veggies, zucchini, broccoli, carrots, kernel corn, salsa, habanero jack cheese and poblano crema.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.85
    </span>
    <div class="menu-item-title">
    Original Gourmet Burrito
    </div>
    <div class="menu-item-description">chicken or sirloin steak, guacamole, jack and cheddar cheeses and fresh salsa wrapped in a flour tortilla.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>4.10
    </span>
    <div class="menu-item-title">
    Bean And Cheese Burrito
    </div>
    <div class="menu-item-description">freshly made beans and jack and cheddar cheeses in a flour tortilla. chicken or sirloin steak add $ 1.90.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.55
    </span>
    <div class="menu-item-title">
    Los Cabos Shrimp Burrito
    </div>
    <div class="menu-item-description">grilled shrimp, salsa, fire-roasted fajita veggies, rice, cheeses, cabbage, crema and avocado in a flour tortilla.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    </div>
    </div>
    <div class="menu-section">
    <div class="menu-section-header">
    <div class="menu-section-title">La Salsa Favorites</div>
    <div class="menu-item-description" align="center">served with chips and our fresh salsa bar</div>
    </div>
    <div class="menu-items">
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.70
    </span>
    <div class="menu-item-title">
    Fire-Roasted Bowl
    </div>
    <div class="menu-item-description">chicken or sirloin steak, fire-roasted zucchini & fajita veggies, broccoli, beans, com, carrots, salsa & rice. topped with poblano crema, cheeses, cotija cheese & cilantro.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.95
    </span>
    <div class="menu-item-title">
    Chicken Tortilla Soup And Salad
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>4
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.25
    </span>
    <div class="menu-item-title">
    Taco Salad
    </div>
    <div class="menu-item-description">romaine, rice, beans, tomatoes, fresh salsa, guacamole, cheeses and sour cream in a crisp tortilla shell.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>4.95
    </span>
    <div class="menu-item-title">
    Classic Quesadilla
    </div>
    <div class="menu-item-description">large grilled flour tortilla filled with jack and cheddar cheeses. served with salsa, fresh guacamole and sour cream. chicken or sirloin add $ 1.90.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>7.35
    </span>
    <div class="menu-item-title">
    Stuffed Fajita Quesadilla
    </div>
    <div class="menu-item-description">grilled chicken or sirloin steak, fajita veggies, three cheeses - cheddar ,jack and cotija - and mild anchor chile sauce stuffed in a homestyle, chipotle - flavored flour tortilla. served with fresh</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>6.65
    </span>
    <div class="menu-item-title">
    Chile - Lime Salad
    </div>
    <div class="menu-item-description">chicken or sirloin steak, romaine, cotija cheese, tomatoes & avocado, topped with our tangy chile-lime dressing and tortilla strips.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>5.15
    </span>
    <div class="menu-item-title">
    Nachos
    </div>
    <div class="menu-item-description">tortilla chips covered with jack and cheddar cheeses, beans, salsa, roja sauce, guacamole and sour cream. chicken or sirloin steak add $ 1.90.</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>12
    </div>
    </div>
    </div>
    </div>
    <div class="menu-section">
    <div class="menu-section-header">
    <div class="menu-section-title">Sides And Drinks</div>
    </div>
    <div class="menu-items">
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>2.95
    </span>
    <div class="menu-item-title">
    Taco La Salsa
    </div>
    <div class="menu-item-description">(chicken or sirloin steak)</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>3.50
    </span>
    <div class="menu-item-title">
    Baja Style Shrimp Taco
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>2.99
    </span>
    <div class="menu-item-title">
    Chips And Salsa
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>1.45 -$1.95
    </span>
    <div class="menu-item-title">
    Soft Drinks
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>3.50
    </span>
    <div class="menu-item-title">
    Baja Grilled Fish Taco
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>1.55
    </span>
    <div class="menu-item-title">
    Beans Or Rice
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>3.99
    </span>
    <div class="menu-item-title">
    Chips, Salsa And Guacamole
    </div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    <div class="menu-item">
    <span class="menu-item-price-top">
    <span class="currency-sign">$</span>0.75
    </span>
    <div class="menu-item-title">Refill</div>
    <div class="menu-item-price-bottom">
    <span class="currency-sign">$</span>8
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
