<nav id="mainNav" class="navbar navbar-inverse navbar-custom navbar-fixed-top">
  <div class="container">
  <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    </button>
  </div>
  <a href="index.html"><img class="logoo" src="/images/logo.png" alt="logo"/></a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-custom" class="animated slideOutDown">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll"  href="index.html"></a>
        </li>
        <li>
          <a class="page-scroll"style="colr:#fff;background-color:#58AD40;" href="index.html#chef">About</a>
        </li>
        <li>
          <a class="page-scroll" href="lunch.html">Menu</a>
        </li>
        <li>
          <a class="page-scroll" href="catering.html">Catering</a>
        </li>
        <li>
          <a class="page-scroll" href="events.html">Events</a>
        </li>
        <li>
          <a class="page-scroll" href="bar.html">Bar</a>
        </li>
        <li>
          <a class="page-scroll" href="blog.html">Blog</a>
        </li>
        <li style="display:none;">
          <a href="#header"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
